<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring 2023</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 7: ER, Relational, SQL, Scenarios, Applications</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

# Lecture Material

- The lecture slides contain the lecture material, slides, etc.


- The Jupyter notebook is for running example code and sample applications.

# Environment Setup and Test

## ipython-sql Magic

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql select * from db_book.student limit 10

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'))]

## PyMySQL

In [4]:
import pymysql

__Note to DFF:__ Explain some of the concepts below:
1. Cursors and cursorclass
2. Autocommit
3. Why we get an array back

In [5]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [6]:
cur = conn.cursor()
res = cur.execute("select * from db_book.student limit 10")
res = cur.fetchall()

## Pandas and SQLAlchemy

### Concepts

In [7]:
import pandas

In [8]:
import sqlalchemy

In [9]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [10]:
df = pandas.read_sql("select * from db_book.student limit 10", con=engine)

In [11]:
df

      ID      name   dept_name  tot_cred
0  00128     Zhang  Comp. Sci.     102.0
1  12345   Shankar  Comp. Sci.      32.0
2  19991    Brandt     History      80.0
3  23121    Chavez     Finance     110.0
4  44553   Peltier     Physics      56.0
5  45678      Levy     Physics      46.0
6  54321  Williams  Comp. Sci.      54.0
7  55739   Sanchez       Music      38.0
8  70557      Snow     Physics       0.0
9  76543     Brown  Comp. Sci.      58.0

# Window Functions

- "In order to understand MySQL window functions, let us first understand what a window function in SQL means. In SQL, window functions are special types of pre-built functions that return a value from a group of rows for each row. This might sound confusing in the beginning but is not that complex. Simply put, a window function, calculates the value from multiple records for every single row in the context." (https://www.sqlshack.com/overview-of-mysql-window-functions/)


- "In SQL, there are basically two types of window functions – Aggregate window functions and analytical window functions.
    - Aggregate Window Functions – As the name suggests, these types of window functions calculate the aggregated values of a group of rows from the table. Some examples of aggregate window functions are SUM, AVG, MIN, MAX etc. You need to use the GROUP BY clause in order to use these aggregate window functions with some other columns. This usually returns a scalar value
    - Analytical Window Functions – These types of functions are used to calculate some window based on the current row and then calculate the results based on that window of records. The result is often returned in the form of multiple records in SQL. Common examples include RANK, DENSE_RANK, CUME_DIST, RANK, LEAD, LAG, etc." (https://www.sqlshack.com/overview-of-mysql-window-functions/)


- Think of questions and statements of "sliding window."


- For example, "What is the percentage difference of this month's revenue over the average of the preceeding 3 months?"

- Basic syntax

```
window_function_name(expression)   
OVER (  
    [partition_defintion]  
    [order_definition]  
    [frame_definition]  
)  

```

- It normally takes me a lot of tinkering to get the answer correct.


- I have to reread the tutorials every semester.

| <img src="./window_functions_1.png"> |
| :---: |
| [Aggregation and Window Functions](https://arctype.com/blog/mysql-window-functions/) |

| <img src="./window_functions_2.png"> |
| :---: |
| [Window Functions Cheat Sheet](https://medium.com/left-join/sql-window-functions-cheat-sheet-with-examples-fee8adefa59a) |

- Let's remind ourselves about ```classic models.```


- We used in previous examples.

| <img src="classic-models.png"> |
| :---: |
| __Classic Models Database__ |

- An ```order``` has multiple ```orderdetails``` for each thing purchases in the order.

In [12]:
%%sql

use classicmodels;

select * from
    orders join orderdetails using(orderNumber)
where
    orderNumber = '10100'

 * mysql+pymysql://root:***@localhost
0 rows affected.
4 rows affected.

[(10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_1749', 30, Decimal('136.00'), 3),
 (10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_2248', 50, Decimal('55.09'), 2),
 (10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_4409', 22, Decimal('75.46'), 4),
 (10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S24_3969', 49, Decimal('35.29'), 1)]

- I have to do some aggregation to get the total order value.

In [13]:
%%sql

select orderNumber, customerNumber, sum(quantityOrdered*priceEach) as total_order_value from
    orders join orderdetails using(orderNumber)
where
    orderNumber = '10100'
group by orderNumber, customerNumber;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(10100, 363, Decimal('10223.83'))]

- And I can look at all of them.

In [14]:
%%sql


select orderNumber, customerNumber, sum(quantityOrdered*priceEach) as total_order_value from
    orders join orderdetails using(orderNumber)
group by orderNumber, customerNumber
order by total_order_value desc
limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[(10165, 148, Decimal('67392.85')),
 (10287, 298, Decimal('61402.00')),
 (10310, 259, Decimal('61234.67')),
 (10212, 141, Decimal('59830.55')),
 (10207, 495, Decimal('59265.14')),
 (10127, 151, Decimal('58841.35')),
 (10204, 151, Decimal('58793.53')),
 (10126, 458, Decimal('57131.92')),
 (10222, 239, Decimal('56822.65')),
 (10142, 124, Decimal('56052.56')),
 (10390, 124, Decimal('55902.50')),
 (10312, 124, Decimal('55639.66')),
 (10135, 124, Decimal('55601.84')),
 (10192, 363, Decimal('55425.77')),
 (10181, 167, Decimal('55069.55')),
 (10159, 321, Decimal('54682.68')),
 (10105, 145, Decimal('53959.21')),
 (10314, 227, Decimal('53745.34')),
 (10304, 256, Decimal('53116.99')),
 (10306, 187, Decimal('52825.29'))]

- But, sometimes rolling averages are interesting.


- Let's look at a rolling average.

In [15]:
%%sql

select
            year(orderDate) as orderYear, month(orderDate) as orderMonth,
            sum(priceEach*quantityOrdered) as revenue
    from
        orders join orderdetails using(orderNumber)
    group by orderYear, orderMonth
    order by orderYear asc, orderMonth asc

 * mysql+pymysql://root:***@localhost
29 rows affected.

[(2003, 1, Decimal('116692.77')),
 (2003, 2, Decimal('128403.64')),
 (2003, 3, Decimal('160517.14')),
 (2003, 4, Decimal('185848.59')),
 (2003, 5, Decimal('179435.55')),
 (2003, 6, Decimal('150470.77')),
 (2003, 7, Decimal('201940.36')),
 (2003, 8, Decimal('178257.11')),
 (2003, 9, Decimal('236697.85')),
 (2003, 10, Decimal('514336.21')),
 (2003, 11, Decimal('988025.15')),
 (2003, 12, Decimal('276723.25')),
 (2004, 1, Decimal('292385.21')),
 (2004, 2, Decimal('289502.84')),
 (2004, 3, Decimal('217691.26')),
 (2004, 4, Decimal('187575.77')),
 (2004, 5, Decimal('248325.30')),
 (2004, 6, Decimal('343370.74')),
 (2004, 7, Decimal('325563.49')),
 (2004, 8, Decimal('419327.09')),
 (2004, 9, Decimal('283799.80')),
 (2004, 10, Decimal('500233.86')),
 (2004, 11, Decimal('979291.98')),
 (2004, 12, Decimal('428838.17')),
 (2005, 1, Decimal('307737.02')),
 (2005, 2, Decimal('317192.17')),
 (2005, 3, Decimal('359711.96')),
 (2005, 4, Decimal('344820.62')),
 (2005, 5, Decimal('441474.94'))]

In [16]:
%%sql

with one as (
    select
            year(orderDate) as orderYear, month(orderDate) as orderMonth,
            sum(priceEach*quantityOrdered) as revenue
    from
        orders join orderdetails using(orderNumber)
    group by orderYear, orderMonth
    order by orderYear asc, orderMonth asc
),
    two as (
        select
            orderYear, orderMonth, revenue,
            avg(revenue) over(
                    rows between 4 preceding  and 1 preceding
                ) as threeMonthAverage
        from
            one
    )
select * from two

 * mysql+pymysql://root:***@localhost
29 rows affected.

[(2003, 1, Decimal('116692.77'), None),
 (2003, 2, Decimal('128403.64'), Decimal('116692.770000')),
 (2003, 3, Decimal('160517.14'), Decimal('122548.205000')),
 (2003, 4, Decimal('185848.59'), Decimal('135204.516667')),
 (2003, 5, Decimal('179435.55'), Decimal('147865.535000')),
 (2003, 6, Decimal('150470.77'), Decimal('163551.230000')),
 (2003, 7, Decimal('201940.36'), Decimal('169068.012500')),
 (2003, 8, Decimal('178257.11'), Decimal('179423.817500')),
 (2003, 9, Decimal('236697.85'), Decimal('177525.947500')),
 (2003, 10, Decimal('514336.21'), Decimal('191841.522500')),
 (2003, 11, Decimal('988025.15'), Decimal('282807.882500')),
 (2003, 12, Decimal('276723.25'), Decimal('479329.080000')),
 (2004, 1, Decimal('292385.21'), Decimal('503945.615000')),
 (2004, 2, Decimal('289502.84'), Decimal('517867.455000')),
 (2004, 3, Decimal('217691.26'), Decimal('461659.112500')),
 (2004, 4, Decimal('187575.77'), Decimal('269075.640000')),
 (2004, 5, Decimal('248325.30'), Decimal('246788.770000')),
 (2004, 6, Decimal('343370.74'), Decimal('235773.792500')),
 (2004, 7, Decimal('325563.49'), Decimal('249240.767500')),
 (2004, 8, Decimal('419327.09'), Decimal('276208.825000')),
 (2004, 9, Decimal('283799.80'), Decimal('334146.655000')),
 (2004, 10, Decimal('500233.86'), Decimal('343015.280000')),
 (2004, 11, Decimal('979291.98'), Decimal('382231.060000')),
 (2004, 12, Decimal('428838.17'), Decimal('545663.182500')),
 (2005, 1, Decimal('307737.02'), Decimal('548040.952500')),
 (2005, 2, Decimal('317192.17'), Decimal('554025.257500')),
 (2005, 3, Decimal('359711.96'), Decimal('508264.835000')),
 (2005, 4, Decimal('344820.62'), Decimal('353369.830000')),
 (2005, 5, Decimal('441474.94'), Decimal('332365.442500'))]

- You can test simple ones with spreadsheets. <br>
https://docs.google.com/spreadsheets/d/1U0nHr3FOwJXqzAmweyyPQPSuYYcWEpm4j9AtCze-tuA/edit?usp=sharing

- This can get pretty confusing, and even I have to play with it A LOT to convince myself I got the correct answer.


- But it is powerful.

# Advanced Modeling

## Composite, Multi-Valued Attributes

- Consider ```name_basics_all```.

In [ ]:
%sql select * from s23_w4111_hw2_dff9.name_basics_all limit 10;

- Analysis:
    - ```primaryName, primaryProfession, knownForTitles``` are not atomic domains.
    - ```primaryName``` is composite.
    - ```primaryProfession, knownForTitles``` are multi-valued.
    - ```knownForTitles``` is a relationship.
    
    
- In module IV, we will see data engineering tools like MapReduce, Sparq, etc. for transforming data. We will use simple python and SQL for now. We will use SQL as much as possible.


- Let's take a look at ```primaryName```. We have to parse a string and extract the name elements. At first, this seems simple ... ...

In [ ]:
%%sql

use s23_w4111_hw2_dff9;
 
select
    primaryName,
    substr(primaryName, 1, locate(' ', primaryName)) as first_name,
    substr(primaryName, locate(' ', primaryName)+1) as last_name
from
    name_basics_all
limit 20;

- But, with a little more analysis ... ...

In [ ]:
%%sql

with one as (
    select
        primaryName,
        replace(primaryName, ' ', '') as no_spaces
    from
        name_basics_all
)
select primaryName, length(primaryName)-length(no_spaces) as space_count
    from one
order by space_count desc
limit 20;

- OK. That is not too bad, but ... ... There are 350 rows in the subset of ```name_basics``` I provided and about 10 million rows in the initial data. What does the actual domain look like?

In [ ]:
%%sql

use s23_imdb_raw;

with one as (
    select
        primaryName,
        replace(primaryName, ' ', '') as no_spaces
    from
        name_basics
    limit 500000
),
    two as (select primaryName, length(primaryName) - length(no_spaces) as space_count
            from one)
select
    space_count, count(*) as names_with_space_count
from
    two
group by space_count order by names_with_space_count asc;

- BTW, this is the full sample.

In [ ]:
%%sql

with one as (
    select
        primaryName,
        replace(primaryName, ' ', '') as no_spaces
    from
        name_basics
),
    two as (select primaryName, length(primaryName) - length(no_spaces) as space_count
            from one)
select
    space_count, count(*) as names_with_space_count
from
    two
group by space_count order by names_with_space_count asc;

- Good luck with that in Pandas, BTW.

- There must be some way to heuristically parse name. I cannot be the first person with this problem.

```
Dear ChatGPT,

I hope this query finds you in good health. I am writing you because the cool kids use you. Google is so "OK Boomer" and "2010s."

Is there a good python library for parsing name strings?
```

<img src="./chat1.png">
<img src="./chat2.png">
<img src="./chat3.png">

- Heuristics and complex code in SQL procedures is hard. ```nameparser``` is 500 lines of python code. That would be fun in SQL procedures, __and it calls other python libraries.__


- I did use ```nameparser``` to clean the data. For example,

In [ ]:
%%sql

use s22_imdb_clean;

select
    nconst, full_name, title, first_name, las-_name, middle_name, suffix, nickname
from
    name_basics
where
    middle_name is not NULL or
    title is not null or
    suffix is not null or
    nickname is not null
limit 30;

In [ ]:
%%sql

select
    nconst, full_name, title, first_name, middle_name, last_name, suffix, nickname
from
    name_basics
where
    title is not null or
    suffix is not null or
    nickname is not null
limit 30;

- This one would be hard in SQL.


- ```knownForTitles``` and ```primaryProfession``` are easier, which you will see in HW 2, part 2.

# IMDB

## name_basics_all

In [18]:
%%sql
use s23_w4111_hw2_yy5;

select * from name_basics_all limit 10;

 * mysql+pymysql://root:***@localhost
0 rows affected.
10 rows affected.

[('nm0389698', 'B.J. Hogg', '1955', '2020', 'actor,music_department', 'tt0970411,tt0944947,tt0986233,tt1240982'),
 ('nm0269923', 'Michael Feast', '1946', None, 'actor,composer', 'tt0472160,tt0162661,tt0120879,tt0362192'),
 ('nm0727778', 'David Rintoul', '1948', None, 'actor', 'tt1655420,tt1139328,tt4786824,tt6079772'),
 ('nm6729880', 'Chuku Modu', '1990', None, 'actor,writer,producer', 'tt4154664,tt2674426,tt6470478,tt0944947'),
 ('nm0853583', 'Owen Teale', '1961', None, 'actor', 'tt0102797,tt0485301,tt0462396,tt0944947'),
 ('nm0203801', 'Karl Davies', '1982', None, 'actor,producer', 'tt12879632,tt7366338,tt3428912,tt0944947'),
 ('nm8257864', 'Megan Parkinson', None, None, 'actress', 'tt0944947,tt6636246,tt5761478,tt4276618'),
 ('nm0571654', 'Fintan McKeown', None, None, 'actor', 'tt0944947,tt0111904,tt0166396,tt0112178'),
 ('nm1528121', 'Philip McGinley', '1981', None, 'actor', 'tt3922704,tt0053494,tt0944947,tt1446714'),
 ('nm0000980', 'Jim Broadbent', '1949', None, 'actor,writer,soundtrack', 'tt0203009,tt1431181,tt1007029,tt0217505')]

In [ ]:
%%sql

select
    substr(primaryName, 1, locate(' ', primaryName)-1) as firstName, 
    substr(primaryName, locate(' ', primaryName)+1) as lastName,
    primaryName
from
    name_basics_all
limit 10;

In [23]:
%%sql
    select
        nconst,
        substr(primaryName, 1, locate(' ', primaryName)-1) as firstName, 
        substr(primaryName, locate(' ', primaryName)+1) as lastName,
        primaryProfession,
        knownForTitles
from name_basics_all
limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('nm0389698', 'B.J.', 'Hogg', 'actor,music_department', 'tt0970411,tt0944947,tt0986233,tt1240982'),
 ('nm0269923', 'Michael', 'Feast', 'actor,composer', 'tt0472160,tt0162661,tt0120879,tt0362192'),
 ('nm0727778', 'David', 'Rintoul', 'actor', 'tt1655420,tt1139328,tt4786824,tt6079772'),
 ('nm6729880', 'Chuku', 'Modu', 'actor,writer,producer', 'tt4154664,tt2674426,tt6470478,tt0944947'),
 ('nm0853583', 'Owen', 'Teale', 'actor', 'tt0102797,tt0485301,tt0462396,tt0944947'),
 ('nm0203801', 'Karl', 'Davies', 'actor,producer', 'tt12879632,tt7366338,tt3428912,tt0944947'),
 ('nm8257864', 'Megan', 'Parkinson', 'actress', 'tt0944947,tt6636246,tt5761478,tt4276618'),
 ('nm0571654', 'Fintan', 'McKeown', 'actor', 'tt0944947,tt0111904,tt0166396,tt0112178'),
 ('nm1528121', 'Philip', 'McGinley', 'actor', 'tt3922704,tt0053494,tt0944947,tt1446714'),
 ('nm0000980', 'Jim', 'Broadbent', 'actor,writer,soundtrack', 'tt0203009,tt1431181,tt1007029,tt0217505'),
 ('nm0649046', 'Deobia', 'Oparei', 'actor', 'tt0419706,tt0118929,tt0203009,tt1343727'),
 ('nm1783582', 'Sahara', 'Knite', 'actress', 'tt15288590,tt15249564,tt0944947,tt9814116'),
 ('nm8127149', 'Nathanael', 'Saleh', 'actor,soundtrack', 'tt0944947,tt1635327,tt3498954,tt5028340'),
 ('nm1074361', 'Luke', 'Roberts', 'actor,producer,writer', 'tt2375692,tt5809150,tt0944947,tt1877830'),
 ('nm3586035', 'Maisie', 'Williams', 'actress,producer,soundtrack', 'tt0944947,tt1330018,tt3294200,tt4682266'),
 ('nm0538869', 'Patrick', 'Malahide', 'actor,writer,soundtrack', 'tt0090521,tt0120873,tt0116908,tt0143145'),
 ('nm4207240', 'Phil', 'Barnhill', 'actor', 'tt1785299'),
 ('nm0568400', 'Ian', 'McElhinney', 'actor,director,soundtrack', 'tt0944947,tt3748528,tt0117039,tt0116477'),
 ('nm1152798', 'Joseph', 'Mawle', 'actor', 'tt0944947,tt1390411,tt1127876,tt2183641'),
 ('nm4730958', 'Eline', 'Powell', 'actress', 'tt2884308,tt1972591,tt2091298,tt0944947')]

In [24]:
from nameparser import HumanName;

In [25]:
n = HumanName("Prof. Donald F. Ferguson III (Darth Don)")

In [28]:
n.as_dict()

{'title': 'Prof.',
 'first': 'Donald',
 'middle': 'F.',
 'last': 'Ferguson',
 'suffix': 'III',
 'nickname': 'Darth Don'}

In [31]:
cur = conn.cursor()
res = cur.execute("select nconst, primaryName from s23_w4111_hw2_yy5.name_basics_all")
res

348

In [32]:
data = cur.fetchall()
data

[{'nconst': 'nm0389698', 'primaryName': 'B.J. Hogg'},
 {'nconst': 'nm0269923', 'primaryName': 'Michael Feast'},
 {'nconst': 'nm0727778', 'primaryName': 'David Rintoul'},
 {'nconst': 'nm6729880', 'primaryName': 'Chuku Modu'},
 {'nconst': 'nm0853583', 'primaryName': 'Owen Teale'},
 {'nconst': 'nm0203801', 'primaryName': 'Karl Davies'},
 {'nconst': 'nm8257864', 'primaryName': 'Megan Parkinson'},
 {'nconst': 'nm0571654', 'primaryName': 'Fintan McKeown'},
 {'nconst': 'nm1528121', 'primaryName': 'Philip McGinley'},
 {'nconst': 'nm0000980', 'primaryName': 'Jim Broadbent'},
 {'nconst': 'nm0649046', 'primaryName': 'Deobia Oparei'},
 {'nconst': 'nm1783582', 'primaryName': 'Sahara Knite'},
 {'nconst': 'nm8127149', 'primaryName': 'Nathanael Saleh'},
 {'nconst': 'nm1074361', 'primaryName': 'Luke Roberts'},
 {'nconst': 'nm3586035', 'primaryName': 'Maisie Williams'},
 {'nconst': 'nm0538869', 'primaryName': 'Patrick Malahide'},
 {'nconst': 'nm4207240', 'primaryName': 'Phil Barnhill'},
 {'nconst': 'nm0568400', 'primaryName': 'Ian McElhinney'},
 {'nconst': 'nm1152798', 'primaryName': 'Joseph Mawle'},
 {'nconst': 'nm4730958', 'primaryName': 'Eline Powell'},
 {'nconst': 'nm0429956', 'primaryName': 'Gerard Jordan'},
 {'nconst': 'nm1978998', 'primaryName': 'Forbes KB'},
 {'nconst': 'nm1043031', 'primaryName': 'Tim Plester'},
 {'nconst': 'nm5279916', 'primaryName': 'Leigh Gill'},
 {'nconst': 'nm1638006', 'primaryName': 'Michael Condron'},
 {'nconst': 'nm3652842', 'primaryName': 'Isaac Hempstead Wright'},
 {'nconst': 'nm5106314', 'primaryName': 'Gemita Samarra'},
 {'nconst': 'nm3729225', 'primaryName': 'Gwendoline Christie'},
 {'nconst': 'nm0283492', 'primaryName': 'Jerome Flynn'},
 {'nconst': 'nm0574534', 'primaryName': 'Ian McShane'},
 {'nconst': 'nm0751085', 'primaryName': 'Clive Russell'},
 {'nconst': 'nm1214477', 'primaryName': 'Michael Grennell'},
 {'nconst': 'nm0265610', 'primaryName': 'Michelle Fairley'},
 {'nconst': 'nm0734498', 'primaryName': 'Lalor Roddy'},
 {'nconst': 'nm0372176', 'primaryName': 'Lena Headey'},
 {'nconst': 'nm2456829', 'primaryName': 'Alice Hewkin'},
 {'nconst': 'nm0404809', 'primaryName': 'Frank Hvam'},
 {'nconst': 'nm4007028', 'primaryName': 'Darren Killeen'},
 {'nconst': 'nm0700059', 'primaryName': 'Robert Pugh'},
 {'nconst': 'nm3592338', 'primaryName': 'Emilia Clarke'},
 {'nconst': 'nm0408591', 'primaryName': 'Ralph Ineson'},
 {'nconst': 'nm3996678', 'primaryName': 'Maisie Dee'},
 {'nconst': 'nm0192377', 'primaryName': 'Liam Cunningham'},
 {'nconst': 'nm1613839', 'primaryName': 'Ian Whyte'},
 {'nconst': 'nm1368037', 'primaryName': 'Alisdair Simpson'},
 {'nconst': 'nm0915453', 'primaryName': 'Tony Way'},
 {'nconst': 'nm0796502', 'primaryName': 'Alexander Siddig'},
 {'nconst': 'nm1861467', 'primaryName': 'Roxanne McKee'},
 {'nconst': 'nm6088160', 'primaryName': 'Diogo Sales'},
 {'nconst': 'nm2999602', 'primaryName': 'Junade Khan'},
 {'nconst': 'nm2231505', 'primaryName': 'David James'},
 {'nconst': 'nm0752638', 'primaryName': 'Jonathan Ryan'},
 {'nconst': 'nm0000293', 'primaryName': 'Sean Bean'},
 {'nconst': 'nm0174005', 'primaryName': 'Ben Crompton'},
 {'nconst': 'nm0580014', 'primaryName': 'Tobias Menzies'},
 {'nconst': 'nm0890055', 'primaryName': 'Indira Varma'},
 {'nconst': 'nm4473207', 'primaryName': 'Barrington Cullen'},
 {'nconst': 'nm1561982', 'primaryName': 'Pilou Asbæk'},
 {'nconst': 'nm2406775', 'primaryName': 'Cedric Henderson'},
 {'nconst': 'nm0050520', 'primaryName': 'Peter Ballance'},
 {'nconst': 'nm0443825', 'primaryName': 'Dermot Keaney'},
 {'nconst': 'nm2307468', 'primaryName': 'Ricky Champ'},
 {'nconst': 'nm1478079', 'primaryName': 'Joe Dempsie'},
 {'nconst': 'nm6793798', 'primaryName': 'Eddie Eyre'},
 {'nconst': 'nm2356940', 'primaryName': 'Hannah Murray'},
 {'nconst': 'nm3354768', 'primaryName': 'Alan Paris'},
 {'nconst': 'nm0130538', 'primaryName': 'Sam Callis'},
 {'nconst': 'nm2089809', 'primaryName': 'Nikovich Sammut'},
 {'nconst': 'nm4440118', 'primaryName': 'Seamus Kelly'},
 {'nconst': 'nm0002103', 'primaryName': 'Julian Glover'},
 {'nconst': 'nm0798872', 'primaryName': 'Peter Silverleaf'},
 {'nconst': 'nm7318132', 'primaryName': 'Davor Jozinovic'},
 {'nconst': 'nm3005802', 'primaryName': 'Ivan Peric'},
 {'nconst': 'nm7318134', 'primaryName': 'Hadi Kermani'},
 {'nconst': 'nm7318135', 'primaryName': 'Tonci Banov'},
 {'nconst': 'nm0544139', 'primaryName': 'Clive Mantle'},
 {'nconst': 'nm0057965', 'primaryName': 'Clifford Barry'},
 {'nconst': 'nm4440305', 'primaryName': 'Mark Stanley'},
 {'nconst': 'nm2760664', 'primaryName': 'Jacob Anderson'},
 {'nconst': 'nm0234541', 'primaryName': 'Roy Dotrice'},
 {'nconst': 'nm6301068', 'primaryName': 'Sabrina Bartlett'},
 {'nconst': 'nm2407387', 'primaryName': 'Sara Dylan'},
 {'nconst': 'nm1051151', 'primaryName': 'Paul Rattray'},
 {'nconst': 'nm4704928', 'primaryName': 'Marc Rissmann'},
 {'nconst': 'nm0267256', 'primaryName': 'Souad Faress'},
 {'nconst': 'nm0894857', 'primaryName': 'David Verrey'},
 {'nconst': 'nm0072855', 'primaryName': 'Paul Bentley'},
 {'nconst': 'nm0000596', 'primaryName': 'Jonathan Pryce'},
 {'nconst': 'nm2181128', 'primaryName': 'Joel Fry'},
 {'nconst': 'nm3964231', 'primaryName': 'Kristian Nairn'},
 {'nconst': 'nm0628040', 'primaryName': 'Christopher Newman'},
 {'nconst': 'nm3444954', 'primaryName': 'Ben Hawkey'},
 {'nconst': 'nm4547262', 'primaryName': 'Leo Woodruff'},
 {'nconst': 'nm2131630', 'primaryName': 'Jefferson Hall'},
 {'nconst': 'nm0019885', 'primaryName': 'Roger Allam'},
 {'nconst': 'nm3330122', 'primaryName': 'Wilko Johnson'},
 {'nconst': 'nm3822505', 'primaryName': 'Amrita Acharia'},
 {'nconst': 'nm0001290', 'primaryName': 'Richard E. Grant'},
 {'nconst': 'nm4781280', 'primaryName': 'Paul Caddell'},
 {'nconst': 'nm0182666', 'primaryName': 'Nikolaj Coster-Waldau'},
 {'nconst': 'nm0141582', 'primaryName': 'Dominic Carter'},
 {'nconst': 'nm0937239', 'primaryName': 'Tom Wlaschiha'},
 {'nconst': 'nm0641433', 'primaryName': "Patrick O'Kane"},
 {'nconst': 'nm4475335', 'primaryName': "Jeffrey O'Brien"},
 {'nconst': 'nm0181920', 'primaryName': 'James Cosmo'},
 {'nconst': 'nm4424689', 'primaryName': 'Sarita Piotrowski'},
 {'nconst': 'nm0322416', 'primaryName': 'Jack Gleeson'},
 {'nconst': 'nm1032473', 'primaryName': 'Thomas Brodie-Sangster'},
 {'nconst': 'nm0822062', 'primaryName': 'John Standing'},
 {'nconst': 'nm3229685', 'primaryName': 'Kit Harington'},
 {'nconst': 'nm0639569', 'primaryName': "Gerry O'Brien"},
 {'nconst': 'nm0322513', 'primaryName': 'Iain Glen'},
 {'nconst': 'nm0803397', 'primaryName': 'Jamie Sives'},
 {'nconst': 'nm4958677', 'primaryName': 'Kelly Long'},
 {'nconst': 'nm1218607', 'primaryName': 'Burn Gorman'},
 {'nconst': 'nm2171898', 'primaryName': 'Birgitte Hjort Sørensen'},
 {'nconst': 'nm4768858', 'primaryName': 'Pixie Le Knot'},
 {'nconst': 'nm2461009', 'primaryName': 'Tim Landers'},
 {'nconst': 'nm0312245', 'primaryName': 'Ian Gelder'},
 {'nconst': 'nm0597388', 'primaryName': 'Jason Momoa'},
 {'nconst': 'nm0622533', 'primaryName': 'Joseph Naufahu'},
 {'nconst': 'nm3040811', 'primaryName': 'Andrei Claude'},
 {'nconst': 'nm0341739', 'primaryName': 'Raymond Griffiths'},
 {'nconst': 'nm2482781', 'primaryName': 'Dean Whatton'},
 {'nconst': 'nm3338062', 'primaryName': 'George Appleby'},
 {'nconst': 'nm3453345', 'primaryName': 'Maxwell Laird'},
 {'nconst': 'nm1168404', 'primaryName': 'Reg Wayment'},
 {'nconst': 'nm0432837', 'primaryName': 'Marko Juraga'},
 {'nconst': 'nm5037688', 'primaryName': 'Rea Separovic'},
 {'nconst': 'nm0119804', 'primaryName': 'Ania Bukstein'},
 {'nconst': 'nm8314450', 'primaryName': 'Lucy Hayes'},
 {'nconst': 'nm3122423', 'primaryName': 'Patrick Ryan'},
 {'nconst': 'nm0734304', 'primaryName': 'Paddy Rocks'},
 {'nconst': 'nm0170799', 'primaryName': 'Steven Cole'},
 {'nconst': 'nm0383835', 'primaryName': 'Dan Hildebrand'},
 {'nconst': 'nm4450657', 'primaryName': 'Kevin Keenan'},
 {'nconst': 'nm0204583', 'primaryName': 'Essie Davis'},
 {'nconst': 'nm1638294', 'primaryName': 'Eugene Simon'},
 {'nconst': 'nm0174449', 'primaryName': 'Aiden Condron'},
 {'nconst': 'nm0481924', 'primaryName': 'Richard Laing'},
 {'nconst': 'nm1406364', 'primaryName': 'Conor Delaney'},
 {'nconst': 'nm4492930', 'primaryName': 'Simon Stewart'},
 {'nconst': 'nm3292422', 'primaryName': 'Chris Gallagher'},
 {'nconst': 'nm5908524', 'primaryName': 'Christian Vit'},
 {'nconst': 'nm1778512', 'primaryName': 'Jóhannes Haukur Jóhannesson'},
 {'nconst': 'nm0564516', 'primaryName': 'Vinnie McCabe'},
 {'nconst': 'nm3330066', 'primaryName': 'Sarine Sofair'},
 {'nconst': 'nm6537691', 'primaryName': 'Samuel Paul Small'},
 {'nconst': 'nm4475204', 'primaryName': 'Tristan Mercieca'},
 {'nconst': 'nm8127150', 'primaryName': 'Michael Nevin'},
 {'nconst': 'nm8127151', 'primaryName': 'Jesse Magee'},
 {'nconst': 'nm8133415', 'primaryName': 'Iona Clarke'},
 {'nconst': 'nm8127152', 'primaryName': 'Lucy Gallagher'},
 {'nconst': 'nm6462692', 'primaryName': 'Fionn Kernan'},
 {'nconst': 'nm1707712', 'primaryName': 'Zachary Baharov'},
 {'nconst': 'nm0852965', 'primaryName': 'Noah Taylor'},
 {'nconst': 'nm5502252', 'primaryName': 'Elizabeth Cadwallader'},
 {'nconst': 'nm2869309', 'primaryName': 'Eros Vlahos'},
 {'nconst': 'nm3645691', 'primaryName': 'Finn Jones'},
 {'nconst': 'nm5651524', 'primaryName': 'Mark Coney'},
 {'nconst': 'nm1101680', 'primaryName': 'Gordon Fulton'},
 {'nconst': 'nm0384152', 'primaryName': 'Conleth Hill'},
 {'nconst': 'nm0641596', 'primaryName': "Jer O'Leary"},
 {'nconst': 'nm3524836', 'primaryName': 'Steve Cash'},
 {'nconst': 'nm6342915', 'primaryName': 'Robert Fawsitt'},
 {'nconst': 'nm8165602', 'primaryName': 'Bella Ramsey'},
 {'nconst': 'nm4957233', 'primaryName': 'Aisling Franciosi'},
 {'nconst': 'nm0225483', 'primaryName': 'Kate Dickie'},
 {'nconst': 'nm0004355', 'primaryName': 'Roger Ashton-Griffiths'},
 {'nconst': 'nm0891092', 'primaryName': 'Peter Vaughan'},
 {'nconst': 'nm0203882', 'primaryName': 'Oliver Ford Davies'},
 {'nconst': 'nm0838910', 'primaryName': 'Donald Sumpter'},
 {'nconst': 'nm1483416', 'primaryName': 'Richard Rycroft'},
 {'nconst': 'nm2807170', 'primaryName': 'Neil Fingleton'},
 {'nconst': 'nm0562003', 'primaryName': 'Jodhi May'},
 {'nconst': 'nm2162079', 'primaryName': 'Ivailo Dimitrov'},
 {'nconst': 'nm4982614', 'primaryName': 'Dennis Stokes'},
 {'nconst': 'nm0015382', 'primaryName': 'Adewale Akinnuoye-Agbaje'},
 {'nconst': 'nm0001354', 'primaryName': 'Ciarán Hinds'},
 {'nconst': 'nm0243696', 'primaryName': 'James Doran'},
 {'nconst': 'nm6442298', 'primaryName': 'Conor Watters'},
 {'nconst': 'nm4982706', 'primaryName': 'Josephine Gillan'},
 {'nconst': 'nm1754059', 'primaryName': 'Natalie Dormer'},
 {'nconst': 'nm2983094', 'primaryName': 'Aisling Jarrett-Gavin'},
 {'nconst': 'nm2047170', 'primaryName': 'Emun Elliott'},
 {'nconst': 'nm2835616', 'primaryName': 'Dean-Charles Chapman'},
 {'nconst': 'nm3126053', 'primaryName': 'Susie Kelly'},
 {'nconst': 'nm4523680', 'primaryName': 'Kerr Logan'},
 {'nconst': 'nm1697771', 'primaryName': 'Ellie Kendrick'},
 {'nconst': 'nm2911170', 'primaryName': 'Laurence Doherty'},
 {'nconst': 'nm0819087', 'primaryName': 'Samantha Spiro'},
 {'nconst': 'nm0396924', 'primaryName': 'Carice van Houten'},
 {'nconst': 'nm0997747', 'primaryName': 'Gary Pillai'},
 {'nconst': 'nm2075330', 'primaryName': 'Mark Killeen'},
 {'nconst': 'nm0064155', 'primaryName': 'Ian Beattie'},
 {'nconst': 'nm4460936', 'primaryName': 'Antonia Christophers'},
 {'nconst': 'nm4595425', 'primaryName': 'Boyd Rankin'},
 {'nconst': 'nm2489799', 'primaryName': 'Elisa Lasowski'},
 {'nconst': 'nm0815420', 'primaryName': 'Mia Soteriou'},
 {'nconst': 'nm2812026', 'primaryName': 'Nathalie Emmanuel'},
 {'nconst': 'nm2197118', 'primaryName': 'Ciaran Bermingham'},
 {'nconst': 'nm0634139', 'primaryName': 'Reece Noi'},
 {'nconst': 'nm5652293', 'primaryName': 'Nanna Bryndís Hilmarsdóttir'},
 {'nconst': 'nm1743706', 'primaryName': 'Jon Thor Birgisson'},
 {'nconst': 'nm5652121', 'primaryName': 'Ragnar Þórhallsson'},
 {'nconst': 'nm1743714', 'primaryName': 'Orri P. Dyrason'},
 {'nconst': 'nm1743730', 'primaryName': 'Georg Holm'},
 {'nconst': 'nm8158202', 'primaryName': 'Arnar Rosenkranz Hilmarsson'},
 {'nconst': 'nm8158203', 'primaryName': 'Brynjar Leifsson'},
 {'nconst': 'nm1944894', 'primaryName': 'Kristján Kristjánsson'},
 {'nconst': 'nm4430905', 'primaryName': 'Rhodri Hosking'},
 {'nconst': 'nm3745225', 'primaryName': 'Charlotte Hope'},
 {'nconst': 'nm9132255', 'primaryName': 'Harry Grasby'},
 {'nconst': 'nm0642751', 'primaryName': "Frank O'Sullivan"},
 {'nconst': 'nm4475182', 'primaryName': 'Dennis McKeever'},
 {'nconst': 'nm5792452', 'primaryName': 'Michael Stuart'},
 {'nconst': 'nm2228622', 'primaryName': 'Marcus Lamb'},
 {'nconst': 'nm6706699', 'primaryName': 'Michael Hooley'},
 {'nconst': 'nm3561455', 'primaryName': 'Patrick J Molloy'},
 {'nconst': 'nm0371160', 'primaryName': 'Michael Hayes'},
 {'nconst': 'nm6316115', 'primaryName': 'Ruairí Heading'},
 {'nconst': 'nm0283642', 'primaryName': 'Tony Flynn'},
 {'nconst': 'nm5697839', 'primaryName': 'Jed Murray'},
 {'nconst': 'nm3725055', 'primaryName': 'Jessica Henwick'},
 {'nconst': 'nm1095720', 'primaryName': 'Keisha Castle-Hughes'},
 {'nconst': 'nm0050959', 'primaryName': 'Pedro Pascal'},
 {'nconst': 'nm0424191', 'primaryName': 'Margaret John'},
 {'nconst': 'nm0610312', 'primaryName': 'Gina Moxley'},
 {'nconst': 'nm0001671', 'primaryName': 'Diana Rigg'},
 {'nconst': 'nm5282143', 'primaryName': "Brenock O'Connor"},
 {'nconst': 'nm4831584', 'primaryName': 'Will Tudor'},
 {'nconst': 'nm0188871', 'primaryName': 'Mackenzie Crook'},
 {'nconst': 'nm4789912', 'primaryName': 'Hannah John-Kamen'},
 {'nconst': 'nm1164730', 'primaryName': 'Natalia Tena'},
 {'nconst': 'nm1987270', 'primaryName': 'Brian Fortune'},
 {'nconst': 'nm4422639', 'primaryName': 'Rania Zouari'},
 {'nconst': 'nm0318821', 'primaryName': 'Aidan Gillen'},
 {'nconst': 'nm4535552', 'primaryName': 'Daniel Portman'},
 {'nconst': 'nm3464945', 'primaryName': 'Andy Kellegher'},
 {'nconst': 'nm0863130', 'primaryName': 'Ramon Tikaram'},
 {'nconst': 'nm0360171', 'primaryName': 'Ian Hanmore'},
 {'nconst': 'nm1086981', 'primaryName': 'Josef Altin'},
 {'nconst': 'nm7047874', 'primaryName': 'Staz Nair'},
 {'nconst': 'nm1409802', 'primaryName': 'Simon Armstrong'},
 {'nconst': 'nm1502469', 'primaryName': 'Dar Salim'},
 {'nconst': 'nm3671418', 'primaryName': 'Laura Pradelska'},
 {'nconst': 'nm0504320', 'primaryName': 'Anton Lesser'},
 {'nconst': 'nm1175468', 'primaryName': 'Elyes Gabel'},
 {'nconst': 'nm3701064', 'primaryName': 'Iwan Rheon'},
 {'nconst': 'nm0269077', 'primaryName': 'James Faulkner'},
 {'nconst': 'nm4430828', 'primaryName': 'Luke Barnes'},
 {'nconst': 'nm1745190', 'primaryName': 'George Georgiou'},
 {'nconst': 'nm4164318', 'primaryName': 'Hugo Culverhouse'},
 {'nconst': 'nm4927489', 'primaryName': 'Melanie Liburd'},
 {'nconst': 'nm3822462', 'primaryName': 'Rila Fukushima'},
 {'nconst': 'nm2167445', 'primaryName': 'Gethin Anthony'},
 {'nconst': 'nm3280686', 'primaryName': 'Art Parkinson'},
 {'nconst': 'nm0534635', 'primaryName': 'Richard Madden'},
 {'nconst': 'nm0004692', 'primaryName': 'Mark Addy'},
 {'nconst': 'nm0570570', 'primaryName': 'Tim McInnerny'},
 {'nconst': 'nm2996220', 'primaryName': 'Lino Facioli'},
 {'nconst': 'nm0231871', 'primaryName': 'Ron Donachie'},
 {'nconst': 'nm0568385', 'primaryName': 'Michael McElhatton'},
 {'nconst': 'nm0065874', 'primaryName': 'Andy Beckwith'},
 {'nconst': 'nm2657974', 'primaryName': 'Esmé Bianco'},
 {'nconst': 'nm5093301', 'primaryName': 'Alexandra Dowling'},
 {'nconst': 'nm1414435', 'primaryName': 'Robert Sterne'},
 {'nconst': 'nm0565472', 'primaryName': 'Bryan McCaugherty'},
 {'nconst': 'nm1748634', 'primaryName': 'Lucian Msamati'},
 {'nconst': 'nm4263213', 'primaryName': 'John Bradley'},
 {'nconst': 'nm0564920', 'primaryName': 'Rory McCann'},
 {'nconst': 'nm3849842', 'primaryName': 'Sophie Turner'},
 {'nconst': 'nm1378629', 'primaryName': 'Maggie Hayes'},
 {'nconst': 'nm0114742', 'primaryName': 'Susan Brown'},
 {'nconst': 'nm1103771', 'primaryName': 'Mary Jordan'},
 {'nconst': 'nm1821446', 'primaryName': 'Hannah Waddingham'},
 {'nconst': 'nm0352901', 'primaryName': 'Kenneth Hadley'},
 {'nconst': 'nm0126298', 'primaryName': 'Terry Byrne'},
 {'nconst': 'nm4757478', 'primaryName': 'Dez McMahon'},
 {'nconst': 'nm1402546', 'primaryName': 'Sibel Kekilli'},
 {'nconst': 'nm0428765', 'primaryName': 'Mark Lewis Jones'},
 {'nconst': 'nm5081192', 'primaryName': 'Kerry Ingram'},
 {'nconst': 'nm0432838', 'primaryName': 'Slavko Juraga'},
 {'nconst': 'nm2746504', 'primaryName': 'Dean Jagger'},
 {'nconst': 'nm0087432', 'primaryName': 'Nicholas Blane'},
 {'nconst': 'nm0226820', 'primaryName': 'Stephen Dillane'},
 {'nconst': 'nm4335246', 'primaryName': 'Faolan Morgan'},
 {'nconst': 'nm4492916', 'primaryName': 'Rick Burn'},
 {'nconst': 'nm1423916', 'primaryName': 'David Sheehan'},
 {'nconst': 'nm5981376', 'primaryName': 'Paul Monahan'},
 {'nconst': 'nm1652341', 'primaryName': 'Jamie Michie'},
 {'nconst': 'nm1794801', 'primaryName': 'Colin Carnegie'},
 {'nconst': 'nm1651043', 'primaryName': 'Stephen Don'},
 {'nconst': 'nm0464305', 'primaryName': 'Yuri Kolokolnikov'},
 {'nconst': 'nm1115654', 'primaryName': 'Miltos Yerolemou'},
 {'nconst': 'nm2772105', 'primaryName': 'Oona Chaplin'},
 {'nconst': 'nm5039410', 'primaryName': 'Rebecca Benson'},
 {'nconst': 'nm1146807', 'primaryName': 'Gary Oliver'},
 {'nconst': 'nm1212069', 'primaryName': 'Bart the Bear'},
 {'nconst': 'nm1677757', 'primaryName': 'Anthony Morris'},
 {'nconst': 'nm3849670', 'primaryName': 'Faye Marsay'},
 {'nconst': 'nm1395532', 'primaryName': 'Joseph Gatt'},
 {'nconst': 'nm0654295', 'primaryName': 'Alfie Allen'},
 {'nconst': 'nm0534062', 'primaryName': 'Oengus MacNamara'},
 {'nconst': 'nm0443373', 'primaryName': 'Paul Kaye'},
 {'nconst': 'nm4385245', 'primaryName': 'Tobias Winter'},
 {'nconst': 'nm0928408', 'primaryName': 'Andrew Wilde'},
 {'nconst': 'nm3727276', 'primaryName': "Will O'Connell"},
 {'nconst': 'nm4475303', 'primaryName': 'Phil Dixon'},
 {'nconst': 'nm1970465', 'primaryName': 'Kristofer Hivju'},
 {'nconst': 'nm4514519', 'primaryName': 'Toby Sebastian'},
 {'nconst': 'nm0309693', 'primaryName': 'Mark Gatiss'},
 {'nconst': 'nm3065809', 'primaryName': 'Rosabell Laurenti Sellers'},
 {'nconst': 'nm0227759', 'primaryName': 'Peter Dinklage'},
 {'nconst': 'nm0001097', 'primaryName': 'Charles Dance'},
 {'nconst': 'nm5159884', 'primaryName': 'Meena Rayann'},
 {'nconst': 'nm1788152', 'primaryName': 'Brendan McCormack'},
 {'nconst': 'nm1378721', 'primaryName': 'Graham Charles'},
 {'nconst': 'nm0516003', 'primaryName': 'Harry Lloyd'},
 {'nconst': 'nm3531913', 'primaryName': 'Elizabeth Webster'},
 {'nconst': 'nm0103195', 'primaryName': 'David Bradley'},
 {'nconst': 'nm5390029', 'primaryName': 'Lottie Steer'},
 {'nconst': 'nm3209935', 'primaryName': 'Rob Ostlere'},
 {'nconst': 'nm1460176', 'primaryName': 'Sigur Rós'},
 {'nconst': 'nm1368643', 'primaryName': 'Ross Mullan'},
 {'nconst': 'nm0516385', 'primaryName': 'Tim Loane'},
 {'nconst': 'nm1872855', 'primaryName': 'Spencer Wilding'},
 {'nconst': 'nm4422708', 'primaryName': 'Claire Wright'},
 {'nconst': 'nm0916037', 'primaryName': 'Bronson Webb'},
 {'nconst': 'nm5624523', 'primaryName': 'Timothy Gibbons'},
 {'nconst': 'nm4416560', 'primaryName': 'Ryan McKenna'},
 {'nconst': 'nm0523047', 'primaryName': 'Simon Lowe'},
 {'nconst': 'nm0214343', 'primaryName': 'Donagh Deeney'},
 {'nconst': 'nm4744043', 'primaryName': 'Sam Coleman'},
 {'nconst': 'nm1996829', 'primaryName': 'Nonso Anozie'},
 {'nconst': 'nm2247629', 'primaryName': 'Gemma Whelan'},
 {'nconst': 'nm0162281', 'primaryName': 'Enzo Cilenti'},
 {'nconst': 'nm3310211', 'primaryName': 'Rose Leslie'},
 {'nconst': 'nm0889338', 'primaryName': 'Rupert Vansittart'},
 {'nconst': 'nm0535837', 'primaryName': 'Francis Magee'},
 {'nconst': 'nm5502295', 'primaryName': 'Matteo Elezi'},
 {'nconst': 'nm5309709', 'primaryName': 'Nell Williams'},
 {'nconst': 'nm8108764', 'primaryName': 'Cordelia Hill'},

In [37]:
import pandas

tmp = []

for r in data:
    n = HumanName(r['primaryName']).as_dict()
    tmp_r = dict()
    tmp_r['nconst'] = r['nconst']
    for k, v in n.items():
        tmp_r[k] = v
    tmp.append(tmp_r)

In [38]:
tmp

[{'nconst': 'nm0389698',
  'title': '',
  'first': 'B.J.',
  'middle': '',
  'last': 'Hogg',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0269923',
  'title': '',
  'first': 'Michael',
  'middle': '',
  'last': 'Feast',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0727778',
  'title': '',
  'first': 'David',
  'middle': '',
  'last': 'Rintoul',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm6729880',
  'title': '',
  'first': 'Chuku',
  'middle': '',
  'last': 'Modu',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0853583',
  'title': '',
  'first': 'Owen',
  'middle': '',
  'last': 'Teale',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0203801',
  'title': '',
  'first': 'Karl',
  'middle': '',
  'last': 'Davies',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8257864',
  'title': '',
  'first': 'Megan',
  'middle': '',
  'last': 'Parkinson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0571654',
  'title': '',
  'first': 'Fintan',
  'middle': '',
  'last': 'McKeown',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1528121',
  'title': '',
  'first': 'Philip',
  'middle': '',
  'last': 'McGinley',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0000980',
  'title': '',
  'first': 'Jim',
  'middle': '',
  'last': 'Broadbent',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0649046',
  'title': '',
  'first': 'Deobia',
  'middle': '',
  'last': 'Oparei',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1783582',
  'title': '',
  'first': 'Sahara',
  'middle': '',
  'last': 'Knite',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8127149',
  'title': '',
  'first': 'Nathanael',
  'middle': '',
  'last': 'Saleh',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1074361',
  'title': '',
  'first': 'Luke',
  'middle': '',
  'last': 'Roberts',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3586035',
  'title': '',
  'first': 'Maisie',
  'middle': '',
  'last': 'Williams',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0538869',
  'title': '',
  'first': 'Patrick',
  'middle': '',
  'last': 'Malahide',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4207240',
  'title': '',
  'first': 'Phil',
  'middle': '',
  'last': 'Barnhill',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0568400',
  'title': '',
  'first': 'Ian',
  'middle': '',
  'last': 'McElhinney',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1152798',
  'title': '',
  'first': 'Joseph',
  'middle': '',
  'last': 'Mawle',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4730958',
  'title': '',
  'first': 'Eline',
  'middle': '',
  'last': 'Powell',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0429956',
  'title': '',
  'first': 'Gerard',
  'middle': '',
  'last': 'Jordan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1978998',
  'title': '',
  'first': 'Forbes',
  'middle': '',
  'last': 'KB',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1043031',
  'title': '',
  'first': 'Tim',
  'middle': '',
  'last': 'Plester',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm5279916',
  'title': '',
  'first': 'Leigh',
  'middle': '',
  'last': 'Gill',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1638006',
  'title': '',
  'first': 'Michael',
  'middle': '',
  'last': 'Condron',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3652842',
  'title': '',
  'first': 'Isaac',
  'middle': 'Hempstead',
  'last': 'Wright',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm5106314',
  'title': '',
  'first': 'Gemita',
  'middle': '',
  'last': 'Samarra',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3729225',
  'title': '',
  'first': 'Gwendoline',
  'middle': '',
  'last': 'Christie',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0283492',
  'title': '',
  'first': 'Jerome',
  'middle': '',
  'last': 'Flynn',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0574534',
  'title': '',
  'first': 'Ian',
  'middle': '',
  'last': 'McShane',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0751085',
  'title': '',
  'first': 'Clive',
  'middle': '',
  'last': 'Russell',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1214477',
  'title': '',
  'first': 'Michael',
  'middle': '',
  'last': 'Grennell',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0265610',
  'title': '',
  'first': 'Michelle',
  'middle': '',
  'last': 'Fairley',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0734498',
  'title': '',
  'first': 'Lalor',
  'middle': '',
  'last': 'Roddy',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0372176',
  'title': '',
  'first': 'Lena',
  'middle': '',
  'last': 'Headey',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2456829',
  'title': '',
  'first': 'Alice',
  'middle': '',
  'last': 'Hewkin',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0404809',
  'title': '',
  'first': 'Frank',
  'middle': '',
  'last': 'Hvam',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4007028',
  'title': '',
  'first': 'Darren',
  'middle': '',
  'last': 'Killeen',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0700059',
  'title': '',
  'first': 'Robert',
  'middle': '',
  'last': 'Pugh',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3592338',
  'title': '',
  'first': 'Emilia',
  'middle': '',
  'last': 'Clarke',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0408591',
  'title': '',
  'first': 'Ralph',
  'middle': '',
  'last': 'Ineson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3996678',
  'title': '',
  'first': 'Maisie',
  'middle': '',
  'last': 'Dee',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0192377',
  'title': '',
  'first': 'Liam',
  'middle': '',
  'last': 'Cunningham',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1613839',
  'title': '',
  'first': 'Ian',
  'middle': '',
  'last': 'Whyte',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1368037',
  'title': '',
  'first': 'Alisdair',
  'middle': '',
  'last': 'Simpson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0915453',
  'title': '',
  'first': 'Tony',
  'middle': '',
  'last': 'Way',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0796502',
  'title': '',
  'first': 'Alexander',
  'middle': '',
  'last': 'Siddig',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1861467',
  'title': '',
  'first': 'Roxanne',
  'middle': '',
  'last': 'McKee',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm6088160',
  'title': '',
  'first': 'Diogo',
  'middle': '',
  'last': 'Sales',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2999602',
  'title': '',
  'first': 'Junade',
  'middle': '',
  'last': 'Khan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2231505',
  'title': '',
  'first': 'David',
  'middle': '',
  'last': 'James',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0752638',
  'title': '',
  'first': 'Jonathan',
  'middle': '',
  'last': 'Ryan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0000293',
  'title': '',
  'first': 'Sean',
  'middle': '',
  'last': 'Bean',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0174005',
  'title': '',
  'first': 'Ben',
  'middle': '',
  'last': 'Crompton',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0580014',
  'title': '',
  'first': 'Tobias',
  'middle': '',
  'last': 'Menzies',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0890055',
  'title': '',
  'first': 'Indira',
  'middle': '',
  'last': 'Varma',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4473207',
  'title': '',
  'first': 'Barrington',
  'middle': '',
  'last': 'Cullen',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1561982',
  'title': '',
  'first': 'Pilou',
  'middle': '',
  'last': 'Asbæk',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2406775',
  'title': '',
  'first': 'Cedric',
  'middle': '',
  'last': 'Henderson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0050520',
  'title': '',
  'first': 'Peter',
  'middle': '',
  'last': 'Ballance',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0443825',
  'title': '',
  'first': 'Dermot',
  'middle': '',
  'last': 'Keaney',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2307468',
  'title': '',
  'first': 'Ricky',
  'middle': '',
  'last': 'Champ',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1478079',
  'title': '',
  'first': 'Joe',
  'middle': '',
  'last': 'Dempsie',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm6793798',
  'title': '',
  'first': 'Eddie',
  'middle': '',
  'last': 'Eyre',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2356940',
  'title': '',
  'first': 'Hannah',
  'middle': '',
  'last': 'Murray',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3354768',
  'title': '',
  'first': 'Alan',
  'middle': '',
  'last': 'Paris',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0130538',
  'title': '',
  'first': 'Sam',
  'middle': '',
  'last': 'Callis',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2089809',
  'title': '',
  'first': 'Nikovich',
  'middle': '',
  'last': 'Sammut',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4440118',
  'title': '',
  'first': 'Seamus',
  'middle': '',
  'last': 'Kelly',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0002103',
  'title': '',
  'first': 'Julian',
  'middle': '',
  'last': 'Glover',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0798872',
  'title': '',
  'first': 'Peter',
  'middle': '',
  'last': 'Silverleaf',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm7318132',
  'title': '',
  'first': 'Davor',
  'middle': '',
  'last': 'Jozinovic',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3005802',
  'title': '',
  'first': 'Ivan',
  'middle': '',
  'last': 'Peric',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm7318134',
  'title': '',
  'first': 'Hadi',
  'middle': '',
  'last': 'Kermani',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm7318135',
  'title': '',
  'first': 'Tonci',
  'middle': '',
  'last': 'Banov',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0544139',
  'title': '',
  'first': 'Clive',
  'middle': '',
  'last': 'Mantle',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0057965',
  'title': '',
  'first': 'Clifford',
  'middle': '',
  'last': 'Barry',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4440305',
  'title': '',
  'first': 'Mark',
  'middle': '',
  'last': 'Stanley',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2760664',
  'title': '',
  'first': 'Jacob',
  'middle': '',
  'last': 'Anderson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0234541',
  'title': '',
  'first': 'Roy',
  'middle': '',
  'last': 'Dotrice',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm6301068',
  'title': '',
  'first': 'Sabrina',
  'middle': '',
  'last': 'Bartlett',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2407387',
  'title': '',
  'first': 'Sara',
  'middle': '',
  'last': 'Dylan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1051151',
  'title': '',
  'first': 'Paul',
  'middle': '',
  'last': 'Rattray',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4704928',
  'title': '',
  'first': 'Marc',
  'middle': '',
  'last': 'Rissmann',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0267256',
  'title': '',
  'first': 'Souad',
  'middle': '',
  'last': 'Faress',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0894857',
  'title': '',
  'first': 'David',
  'middle': '',
  'last': 'Verrey',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0072855',
  'title': '',
  'first': 'Paul',
  'middle': '',
  'last': 'Bentley',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0000596',
  'title': '',
  'first': 'Jonathan',
  'middle': '',
  'last': 'Pryce',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2181128',
  'title': '',
  'first': 'Joel',
  'middle': '',
  'last': 'Fry',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3964231',
  'title': '',
  'first': 'Kristian',
  'middle': '',
  'last': 'Nairn',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0628040',
  'title': '',
  'first': 'Christopher',
  'middle': '',
  'last': 'Newman',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3444954',
  'title': '',
  'first': 'Ben',
  'middle': '',
  'last': 'Hawkey',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4547262',
  'title': '',
  'first': 'Leo',
  'middle': '',
  'last': 'Woodruff',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2131630',
  'title': '',
  'first': 'Jefferson',
  'middle': '',
  'last': 'Hall',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0019885',
  'title': '',
  'first': 'Roger',
  'middle': '',
  'last': 'Allam',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3330122',
  'title': '',
  'first': 'Wilko',
  'middle': '',
  'last': 'Johnson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3822505',
  'title': '',
  'first': 'Amrita',
  'middle': '',
  'last': 'Acharia',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0001290',
  'title': '',
  'first': 'Richard',
  'middle': 'E.',
  'last': 'Grant',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4781280',
  'title': '',
  'first': 'Paul',
  'middle': '',
  'last': 'Caddell',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0182666',
  'title': '',
  'first': 'Nikolaj',
  'middle': '',
  'last': 'Coster-Waldau',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0141582',
  'title': '',
  'first': 'Dominic',
  'middle': '',
  'last': 'Carter',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0937239',
  'title': '',
  'first': 'Tom',
  'middle': '',
  'last': 'Wlaschiha',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0641433',
  'title': '',
  'first': 'Patrick',
  'middle': '',
  'last': "O'Kane",
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4475335',
  'title': '',
  'first': 'Jeffrey',
  'middle': '',
  'last': "O'Brien",
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0181920',
  'title': '',
  'first': 'James',
  'middle': '',
  'last': 'Cosmo',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4424689',
  'title': '',
  'first': 'Sarita',
  'middle': '',
  'last': 'Piotrowski',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0322416',
  'title': '',
  'first': 'Jack',
  'middle': '',
  'last': 'Gleeson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1032473',
  'title': '',
  'first': 'Thomas',
  'middle': '',
  'last': 'Brodie-Sangster',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0822062',
  'title': '',
  'first': 'John',
  'middle': '',
  'last': 'Standing',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3229685',
  'title': '',
  'first': 'Kit',
  'middle': '',
  'last': 'Harington',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0639569',
  'title': '',
  'first': 'Gerry',
  'middle': '',
  'last': "O'Brien",
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0322513',
  'title': '',
  'first': 'Iain',
  'middle': '',
  'last': 'Glen',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0803397',
  'title': '',
  'first': 'Jamie',
  'middle': '',
  'last': 'Sives',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4958677',
  'title': '',
  'first': 'Kelly',
  'middle': '',
  'last': 'Long',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1218607',
  'title': '',
  'first': 'Burn',
  'middle': '',
  'last': 'Gorman',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2171898',
  'title': '',
  'first': 'Birgitte',
  'middle': 'Hjort',
  'last': 'Sørensen',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4768858',
  'title': '',
  'first': 'Pixie',
  'middle': '',
  'last': 'Le Knot',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2461009',
  'title': '',
  'first': 'Tim',
  'middle': '',
  'last': 'Landers',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0312245',
  'title': '',
  'first': 'Ian',
  'middle': '',
  'last': 'Gelder',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0597388',
  'title': '',
  'first': 'Jason',
  'middle': '',
  'last': 'Momoa',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0622533',
  'title': '',
  'first': 'Joseph',
  'middle': '',
  'last': 'Naufahu',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3040811',
  'title': '',
  'first': 'Andrei',
  'middle': '',
  'last': 'Claude',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0341739',
  'title': '',
  'first': 'Raymond',
  'middle': '',
  'last': 'Griffiths',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm2482781',
  'title': '',
  'first': 'Dean',
  'middle': '',
  'last': 'Whatton',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3338062',
  'title': '',
  'first': 'George',
  'middle': '',
  'last': 'Appleby',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3453345',
  'title': '',
  'first': 'Maxwell',
  'middle': '',
  'last': 'Laird',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1168404',
  'title': '',
  'first': 'Reg',
  'middle': '',
  'last': 'Wayment',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0432837',
  'title': '',
  'first': 'Marko',
  'middle': '',
  'last': 'Juraga',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm5037688',
  'title': '',
  'first': 'Rea',
  'middle': '',
  'last': 'Separovic',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0119804',
  'title': '',
  'first': 'Ania',
  'middle': '',
  'last': 'Bukstein',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8314450',
  'title': '',
  'first': 'Lucy',
  'middle': '',
  'last': 'Hayes',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3122423',
  'title': '',
  'first': 'Patrick',
  'middle': '',
  'last': 'Ryan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0734304',
  'title': '',
  'first': 'Paddy',
  'middle': '',
  'last': 'Rocks',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0170799',
  'title': '',
  'first': 'Steven',
  'middle': '',
  'last': 'Cole',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0383835',
  'title': '',
  'first': 'Dan',
  'middle': '',
  'last': 'Hildebrand',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4450657',
  'title': '',
  'first': 'Kevin',
  'middle': '',
  'last': 'Keenan',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0204583',
  'title': '',
  'first': 'Essie',
  'middle': '',
  'last': 'Davis',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1638294',
  'title': '',
  'first': 'Eugene',
  'middle': '',
  'last': 'Simon',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0174449',
  'title': '',
  'first': 'Aiden',
  'middle': '',
  'last': 'Condron',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0481924',
  'title': '',
  'first': 'Richard',
  'middle': '',
  'last': 'Laing',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1406364',
  'title': '',
  'first': 'Conor',
  'middle': '',
  'last': 'Delaney',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4492930',
  'title': '',
  'first': 'Simon',
  'middle': '',
  'last': 'Stewart',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3292422',
  'title': '',
  'first': 'Chris',
  'middle': '',
  'last': 'Gallagher',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm5908524',
  'title': '',
  'first': 'Christian',
  'middle': '',
  'last': 'Vit',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm1778512',
  'title': '',
  'first': 'Jóhannes',
  'middle': 'Haukur',
  'last': 'Jóhannesson',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm0564516',
  'title': '',
  'first': 'Vinnie',
  'middle': '',
  'last': 'McCabe',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm3330066',
  'title': '',
  'first': 'Sarine',
  'middle': '',
  'last': 'Sofair',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm6537691',
  'title': '',
  'first': 'Samuel',
  'middle': 'Paul',
  'last': 'Small',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm4475204',
  'title': '',
  'first': 'Tristan',
  'middle': '',
  'last': 'Mercieca',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8127150',
  'title': '',
  'first': 'Michael',
  'middle': '',
  'last': 'Nevin',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8127151',
  'title': '',
  'first': 'Jesse',
  'middle': '',
  'last': 'Magee',
  'suffix': '',
  'nickname': ''},
 {'nconst': 'nm8133415',
  'title': '',
  'first': 'Iona',
  'middle': '',

In [39]:
df = pandas.DataFrame(tmp)
df

        nconst title      first middle       last suffix nickname
0    nm0389698             B.J.              Hogg
1    nm0269923          Michael             Feast
2    nm0727778            David           Rintoul
3    nm6729880            Chuku              Modu
4    nm0853583             Owen             Teale
..         ...   ...        ...    ...        ...    ...      ...
343  nm1519719          Annette           Tierney
344  nm7075019           Robert           Aramayo
345  nm7509185        Sebastian             Croft
346  nm7509186           Fergus           Leathem
347  nm0503319           Gerald         Lepkowski

[348 rows x 7 columns]

In [40]:
%%sql

select 
    primaryProfession,
    length(replace(',', '')) as no_comma
from
    name_basics_all

 * mysql+pymysql://root:***@localhost
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')) as no_comma\nfrom\n    name_basics_all' at line 3")
[SQL: select
    primaryProfession,
    length(replace(',', '')) as no_comma
from
    name_basics_all]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [41]:
%%sql
    select
        substr(primaryProfession, 1, locate(' ', primaryProfession)-1) as p1,
        substr(primaryProfession, locate(' ', primaryProfession)+1 as p2
   from
               name_basics_all;

 * mysql+pymysql://root:***@localhost
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'as p2\n   from\n               name_basics_all' at line 3")
[SQL: select
        substr(primaryProfession, 1, locate(' ', primaryProfession)-1) as p1,
        substr(primaryProfession, locate(' ', primaryProfession)+1 as p2
   from
               name_basics_all;]
(Background on this error at: https://sqlalche.me/e/14/f405)